@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/picture 2.png" alt="404 - Page is Not Found" style="width:90%;">

<div class="row">
    <div class="col-md-6">
        <h3 align = "center">Navigation</h3>
        <table>
            <tr>
                <td><h5><a href="/game/view">Games Catalog</a></h5></td>
                <td>Here you can check the whole list of available games</td>
            </tr>
             <tr>
                <td><h5><a href="/accessory/view">Accessories</a></h5></td>
                <td>Card protectors, organizers, mini, etc.</td>
            </tr>
             <tr>
                <td><h5><a href="/cart/view">Show Cart</a></h5></td>
                <td>There are games that are already added to your cart</td>
            </tr>
             <tr>
                <td><h5><a href="/shop/view">Our Shops</a></h5></td>
                <td>Our shop addresses, contacts</td>
            </tr>
             <tr>
                <td><h5><a href="/user/view">Users</a></h5></td>
                <td>This is the list of all users that are available on the board game shop forum</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
         <h3 align = "center">Top 10 from <a href="https://boardgamegeek.com/">Board Game Geek</a></h3>
         <ol>
             <li>Gloomhaven (2017)</li>
             <li>Pandemic Legacy: Season 1 (2015)</li>
             <li>Brass: Birmingham (2018)</li>
             <li>Gloomhaven: Jaws of the Lion (2020)</li>
             <li>Terraforming Mars (2016)</li>
             <li>Twilight Imperium: Fourth Edition (2017)</li>
             <li>Ark Nova (2021)</li>
             <li>Star Wars: Rebellion (2016)</li>
             <li>Gaia Project (2017)</li>
             <li>Spirit Island (2017)</li>
         </ol>
    </div>

    <p>Want to solve a quadratic equation?</p>
    <script src="js/Equation.js"></script>
</div>
