@model List<AccessoryModel>

@{
    ViewData["Title"] = "Accessory";
}

@foreach (var t in Model)
{
    <h1>
        Accessory:
    </h1>
    <p>
        <strong>Name:</strong> <code>@t.Name</code>
    </p>
    <p>
        <strong>Price:</strong> <code>@t.Price</code>
    </p>
}

